.cabeca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque ;
    width: 100%;
    height: 200px;
    border: 5px solid;
    border-color: blue;
}

body {
    width: 100%;
    height: 200px;
    font-size: 15pt;
    font-family: comic sans-serif;
    text-align: center;
    background-color:lightgray ;
}

imagens {
    border: 5px;
    align-items: center;
}


h1 {
    text-align: center;
}
table  {
    display: flexbox;
    border-style: dashed; 
    color: red;
    justify-content: space-between;
    align-items: center;

}
body a:hover{
    color: black;
}
